{{ define "body" }}
<article>
  <h1>{{ .Title }}</h1>
  <main>
    <p>Welcome to my little corner of the internet.</p>
    <p>Here you will find things that I made and links to things I think are neat.</p>
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </main>
</article>
{{ end }}
