{{ define "body" }}
<article>
  <h1>{{ .Title }}</h1>
  <main>
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </main>
</article>
{{ end }}
