div.chroma {
  background-color: $oc-gray-9;
  padding: 0.75rem;
  tab-size: 4;

  tr {
    display: flex;
    gap: 0.75rem;
  }
}

pre.chroma {
  background-color: $oc-gray-9;
  margin: 0;

  .lnt {
    margin: 0;
    padding: 0;
  }
}
