@import "hack-subset";
@import "normalize";
@import "open-color";

@import "monokai";
@import "monokai-custom";

$content-background: mix($oc-gray-9, $oc-gray-8, 90%);
$header-background: mix($oc-gray-9, $oc-gray-8, 70%);

@mixin pixel-border($side: null) {
  @if $side == null {
    border: 1px solid mix($oc-gray-9, $oc-gray-8, 20%);
  } @else {
    border-#{$side}: 1px solid mix($oc-gray-9, $oc-gray-8, 20%);
  }
}

article {
  @include pixel-border;
}

body {
  background: linear-gradient(90deg, $oc-gray-9 calc(0.5rem - 1px), transparent 1%) 50%,
    linear-gradient($oc-gray-9 calc(0.5rem - 1px), transparent 1%) 50%;
  background-attachment: fixed;
  background-color: $oc-gray-8;
  background-position: center;
  background-size: 0.5rem 0.5rem;
  color: $oc-gray-1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  max-width: 60rem;
  padding: 0.5rem;
}

figure {
  margin: 0;

  details {
    > div.highlight {
      border-top: none;
    }

    > summary {
      @include pixel-border;

      background: $header-background;
      border-top: none;
      padding: 0.75rem;
    }
  }

  figcaption {
    @include pixel-border;

    background: $header-background;
    border-top: none;
    padding: 0.75rem;
  }
}

h1 {
  @include pixel-border($side: "bottom");

  background: $header-background;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.75rem;
}

html {
  font: 0.875rem Hack, monospace;
}

main {
  display: flex;
  background: $content-background;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
}

nav {
  @include pixel-border;

  background: $content-background;
  padding: 0.75rem;
}

p {
  margin: 0;
}

small {
  color: $oc-gray-5;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: square;
  margin: 0;
  padding: 0 1rem;
}

///////////////////////////
// Breadcrumb navigation //
///////////////////////////

// https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Breadcrumb_Navigation

header,
footer {
  > nav {
    overflow: hidden;
    > ol {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        white-space: pre;

        &:not(:first-child)::before {
          content: "/ ";
        }
        &:not(:last-child)::after {
          content: " ";
        }
      }
    }
  }
}

//////////
// Code //
//////////

code {
  font-family: Hack, monospace;
  font-size: 0.875rem;
}

div.highlight {
  @include pixel-border;

  overflow-x: auto;
}

p > code {
  @include pixel-border;

  background-color: $oc-gray-8;
}

//////////////////
// Footer links //
//////////////////

footer {
  display: flex;
  gap: 0.5rem;

  > a {
    @include pixel-border;

    align-items: center;
    aspect-ratio: 1 / 1;
    background: $content-background;
    display: flex;
    padding: 0.625rem;

    &:hover {
      border: 1px solid $oc-gray-7;
    }
  }

  > nav {
    flex: auto;
  }
}

///////////
// Links //
///////////

a {
  color: $oc-blue-4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

////////////////
// Link index //
////////////////

div.link-index {
  display: flex;
  flex-direction: row;

  ul {
    flex-grow: 1;

    > li > ul {
      padding: 0;
    }
  }
}

//////////
// Tags //
//////////

fieldset {
  @include pixel-border;

  margin: 0;
  padding: 0;

  > div {
    margin: 0.75rem;
  }
}

legend {
  @include pixel-border($side: "bottom");

  background: $header-background;
  float: left; // https://stackoverflow.com/a/24627851
  margin: 0 0 0.75rem 0;
  padding: 0.5rem;
  width: 100%;
}

////////////////////
// Visualizations //
////////////////////

model-viewer,
shader,
three-js,
two-js {
  @include pixel-border;

  --poster-color: $oc-gray-9;
  aspect-ratio: 3 / 2;
  display: block;
  height: auto;
  width: auto;

  > canvas {
    display: block;
  }
}
