<footer>
  {{ partial "navigation" . }}
  <a href="monero:49CUXerhs4DFDXqTqHSeMDdy8XMM62YAdaKgQq2RUU9idC3qYH9VqqcewtXpcVmP8F8vTCMUgH7KWch2BFpc2FN47yXhT2Q" title="Donate monero">
    <img alt="Monero logo" src="{{ .Site.BaseURL }}monero.svg">
  </a>
  <a href="https://gitlab.com/Awkor/awkor.gitlab.io" title="Website's repository">
    <img alt="Git logo" src="{{ .Site.BaseURL }}git.svg">
  </a>
</footer>
