{{ $style := resources.Get "style.scss" | resources.ToCSS (dict "outputStyle" "compressed") }}

{{ $gameLinksJs := resources.Get "game-links.js" | minify }}
{{ $taggedLinksJs := resources.Get "tagged-links.js" | minify }}

{{ $day := resources.Get "day-js/dayjs.min.js" }}
{{ $dayRelativeTime := resources.Get "day-js/relativeTime.js" | minify }}
{{ $dayBundle := slice $day $dayRelativeTime | resources.Concat "day-js/day-bundle.js" }}

{{ $modelViewer := resources.Get "model-viewer.min.js" }}

{{ $openColor := resources.Get "open-color.js" | minify }}

{{ $regl := resources.Get "regl/regl.min.js" }}
{{ $reglCustom := resources.Get "regl/regl-custom.js" | minify }}
{{ $reglBundle := slice $regl $reglCustom | resources.Concat "regl/regl-bundle.js" }}

{{ $three := resources.Get "three-js/three.min.js" }}
{{ $threeOrbitControls := resources.Get "three-js/OrbitControls.js" | minify }}
{{ $threeBundle := slice $three $threeOrbitControls | resources.Concat "three-js/three-bundle.js" }}

{{ $two := resources.Get "two-js/two.min.js" }}
{{ $twoCustom := resources.Get "two-js/two-custom.js" }}
{{ $twoBundle := slice $two $twoCustom | resources.Concat "two-js/two-bundle.js" }}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .IsHome }}
  <title>{{ .Title }}</title>
  {{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ end }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.svg">
  <script type="text/javascript" src="{{ $dayBundle.RelPermalink }}"></script>
  {{ if .HasShortcode "cascade-studio" }}
  <script type="module" src="{{ $modelViewer.RelPermalink }}"></script>
  {{ end }}
  {{ if .HasShortcode "game-links" }}
  <script type="text/javascript" src="{{ $gameLinksJs.RelPermalink }}"></script>
  {{ end }}
  {{ if .HasShortcode "shader" }}
  <script type="text/javascript" src="{{ $reglBundle.RelPermalink }}"></script>
  {{ end }}
  {{ if .HasShortcode "tagged-links" }}
  <script type="text/javascript" src="{{ $taggedLinksJs.RelPermalink }}"></script>
  {{ end }}
  {{ if or (.HasShortcode "three-js") (.HasShortcode "two-js") }}
  <script type="text/javascript" src="{{ $openColor.RelPermalink }}"></script>
  {{ end }}
  {{ if .HasShortcode "three-js" }}
  <script type="text/javascript" src="{{ $threeBundle.RelPermalink }}"></script>
  {{ end }}
  {{ if .HasShortcode "two-js" }}
  <script type="text/javascript" src="{{ $twoBundle.RelPermalink }}"></script>
  {{ end }}
</head>
