{{ $tags := . }}
<fieldset>
  <legend>Tags</legend>
  {{ range $tags }}
  <div>
    <input autocomplete="off" id="{{ . }}" type="checkbox" />
    <label for="{{ . }}">{{ . }}</label>
  </div>
  {{ end }}
</fieldset>