{{ $fileName := .Get "fileName" }}
{{ $filePath := printf "./%s" $fileName }}
{{ $sourceCode := printf "%s%s.js" .Page.File.Dir $fileName | readFile }}
<figure>
  <model-viewer auto-rotate camera-controls interaction-prompt="none" src="{{ $filePath }}.glb"></model-viewer>
  <details>
    <summary>{{ $fileName }}.glb (source code)</summary>
    {{ highlight $sourceCode "js" }}
  </details>
</figure>
