{{ $games := $.Site.Data.hyperlinks.games }}
{{ $availableTags := slice }}
{{ range $games }}
  {{ $availableTags = union $availableTags .tags }}
{{ end }}
{{ $availableTags = sort (uniq $availableTags) }}
<div class="link-index">
  <ul>
    {{ range $key, $value := $games }}
    {{ $sortedTags := sort $value.tags }}
    {{ $delimitedTags := delimit $sortedTags "," }}
    <li data-tags="{{ $delimitedTags }}" data-year="{{ $value.year }}">
      <a href="{{ $value.link }}">{{ $key }}</a>
      {{ if isset $value "comment" }}
      <span title="{{ $value.comment }}">💬</span>
      {{ end }}
      <ul>
        <small>Tags:{{ range $sortedTags }} {{ . }}{{ end }}</small>
      </ul>
      {{ if isset $value "year" }}
      <ul>
        <small>Year: {{ $value.year }}</small>
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  <aside>
    {{ partial "tags-field-set" $availableTags }}
  </aside>
</div>