{{ $fragmentFileName := .Get "fragmentFileName" }}
{{ $vertexFileName := .Get "vertexFileName" }}
{{ $fragmentSourceCode := printf "%s%s" .Page.File.Dir $fragmentFileName | readFile }}
{{ $vertexSourceCode := printf "%s%s" .Page.File.Dir $vertexFileName | readFile }}
<figure>
  <shader id="{{ $fragmentFileName }}">
    <script>
      var canvas = document.currentScript.parentNode;
      var regl = createREGL(canvas);
      var command = regl({
        frag: {{ $fragmentSourceCode }},
        vert: {{ $vertexSourceCode }},
        attributes: {
          position: screenAlignedTriangle,
        },
        count: 3,
      });
      command();
    </script>
  </shader>
  <details>
    <summary>{{ $fragmentFileName }} (source code)</summary>
    {{ highlight $fragmentSourceCode "glsl" }}
  </details> 
</figure>
