{{ $fileName := .Get "fileName" }}
{{ $language := .Get "language" }}
{{ $sourceCode := printf "%s%s" .Page.File.Dir $fileName | readFile }}
{{ $startingLineNumber := 1 }}
{{ if isset .Params "startingLine" }}
  {{ $startingLine := sub (.Get "startingLine") 1 }}
  {{ $startingLineNumber = .Get "startingLine" }}
  {{ $lineCount := .Get "lineCount" }}
  {{ $sourceCodeLines := split $sourceCode "\n" }}
  {{ $sourceCodeLines = first $lineCount (after $startingLine $sourceCodeLines) }}
  {{ $sourceCode = delimit $sourceCodeLines "\n" }}
{{ end }}
{{ $options := printf "lineNoStart=%d" $startingLineNumber }}
<figure>
  {{ highlight $sourceCode $language $options }}
  {{ if not (isset .Params "startingLine") }}
  <figcaption>{{ $fileName }} — <a href="./{{ $fileName }}">Raw source code</a></figcaption>
  {{ end }}
</figure>
