{{ $links := $.Site.Data.hyperlinks.hyperlinks }}
{{ $availableTags := slice }}
{{ range $links }}
  {{ $availableTags = union $availableTags .tags }}
{{ end }}
{{ $availableTags = sort (uniq $availableTags) }}
<div class="link-index">
  <ul>
    {{ range $key, $value := $links }}
    {{ $sortedTags := sort $value.tags }}
    {{ $delimitedTags := delimit $sortedTags "," }}
    <li data-tags="{{ $delimitedTags }}">
      <a href="{{ $value.link }}">{{ $key }}</a>
      {{ if isset $value "comment" }}
      <span title="{{ $value.comment }}">💬</span>
      {{ end }}
      {{ range $sortedTags }}
      <small>{{ . }}</small>
      {{ end }}
      {{ if isset $value "description" }}
      <br />
      {{ $value.description }}
      {{ end }}
    </li>
    {{ end }}
  </ul>
  <aside>
    {{ partial "tags-field-set" $availableTags }}
  </aside>
</div>