{{ $fileName := .Get "fileName" }}
{{ $filePath := printf "./%s" $fileName }}
{{ $sourceCode := printf "%s%s" .Page.File.Dir $fileName | readFile }}
<figure>
  <two-js>
    <script src="{{ $filePath }}"></script>
  </two-js>
  <details>
    <summary>{{ $fileName }} (source code)</summary>
    {{ highlight $sourceCode "js" }}
  </details>
</figure>
